= render 'admin/geo/shared/replication_nav'
= render 'admin/geo/shared/filter_nav', replicable_type: _('uploads'), replicable_controller: 'admin/geo/uploads'
- @registries.each do |upload_registry|
  = render partial: 'registry', locals: { upload_registry: upload_registry }

= paginate @registries, theme: 'gitlab'
