@media (max-width: map-get($grid-breakpoints, sm)) {
  .geo-node-actions {
    flex-direction: column;
    margin: 0 1rem;

    .sm-column-spacing {
      width: 100%;
      margin-top: 1rem;
    }
  }

  .geo-node-actions-container {
    flex-direction: column;
  }

  .geo-replicable-filter-bar {
    flex-direction: column;

    > .gl-dropdown,
    > .gl-search-box-by-type,
    > .actions {
      margin: 0.25rem 0;
      width: 100%;
    }
  }
}

.project-card-errors {
  .btn-card-header {
    &.collapsed {
      .card-collapse-icon {
        display: none;
      }

      .card-expand-icon {
        display: block;
      }
    }
  }
}

.geo-replicable-filter-bar {
  > .gl-dropdown,
  > .gl-search-box-by-type {
    flex: 1;
  }

  > .actions {
    flex: 3;
  }
}
