.my-5
  - if params[:glm_source] == 'gitlab.com'
    = link_to _('Go back to GitLab'), dashboard_projects_path, class: 'block center py-2'
    .label
      = _("You can always resume this process by selecting your avatar and choosing 'Start a Gold trial'")
  - else
    = link_to _('Skip Trial (Continue with Free Account)'), dashboard_projects_path, class: 'block center py-2'
    .label
      = _("You won't get a free trial right now but you can always resume this process by clicking on your avatar and choosing 'Start a free trial'.")
