.row.empty-state
  .col-12
    .svg-content.svg-250
      = image_tag 'illustrations/empty-state/geo-replication-empty.svg'
  .col-12
    .text-content
      %h4.text-center= sprintf(s_('Geo|There are no %{replicable_type} to show'), { replicable_type: replicable_type })
