- error_messages = Gitlab::RepositorySizeErrorMessageForProject.new(@project)

%h4.size-limit-reached
  = icon("exclamation-triangle")
  = error_messages.merge_error

%p
  = error_messages.more_info_message
