= form_for @cluster, url: clusterable.cluster_path(@cluster), as: :cluster, html: { class: 'js-cluster-integration-form' } do |field|
  = form_errors(@cluster)
  #js-cluster-integration-form{ data: js_cluster_form_data(@cluster, can?(current_user, :update_cluster, @cluster)) }


  - if can?(current_user, :update_cluster, @cluster)
    .form-group.gl-display-flex.gl-justify-content-end
      = field.submit _('Save changes'), class: 'btn btn-success', data: { qa_selector: 'save_changes_button'}
